.cart-address-child {
  width: 100%;
  height: 1028px;
  position: absolute;
  margin: 0 !important;
  top: 189px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-icon1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 640px;
  max-height: 100%;
  width: 569px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.header-icons {
  position: absolute;
  top: 36px;
  left: 0;
  width: 1754px;
  height: 51.4px;
  z-index: 1;
}
.header1 {
  height: 188px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.content {
  width: 1794px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 43px;
  box-sizing: border-box;
  max-width: 100%;
}
.delivery-address-group-child {
  width: 821px;
  height: 700px;
  position: relative;
  border-radius: var(--br-xl);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.delivery {
  font-weight: 600;
}
.span {
  font-weight: 500;
}
.delivery-address1 {
  margin: 0;
  font-size: inherit;
  z-index: 1;
  font-family: inherit;
}
.delivery-address1,
.description4,
.label4 {
  position: relative;
  line-height: 140%;
}
.label4 {
  align-self: stretch;
}
.description4 {
  width: 240px;
  color: var(--text-default-secondary);
  display: none;
}
.value4 {
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 100%;
  display: inline-block;
}
.input3 {
  align-self: stretch;
  height: 41px;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-300) var(--padding-mini);
  min-width: 240px;
}
.error3 {
  width: 37px;
  position: relative;
  line-height: 140%;
  display: none;
}
.input-field3 {
  width: 281px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--space-200);
  z-index: 2;
}
.input-field-parent,
.input-field4 {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.input-field4 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--space-200);
  min-width: 190px;
  z-index: 2;
}
.input-field-parent {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-23xl);
  max-width: 100%;
}
.address-form,
.delivery-address-title {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.address-form {
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--single-line-body-base-size);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
.delivery-address-title {
  flex-direction: column;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
.description6 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  color: var(--text-default-secondary);
  display: none;
}
.value6 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--single-line-body-base);
  font-size: var(--single-line-body-base-size);
  background-color: transparent;
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 100%;
  color: var(--text-default-default);
  text-align: left;
  display: inline-block;
  min-width: 126px;
  padding: 0;
}
.input-field5,
.input5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.input5 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  overflow: hidden;
  flex-direction: row;
  padding: var(--space-300) var(--padding-mini);
  min-width: 240px;
}
.input-field5 {
  width: 242px;
  height: 92px;
  margin: 0 !important;
  position: absolute;
  bottom: 274px;
  left: 77px;
  flex-direction: column;
  padding: 0 0 var(--padding-3xl);
  gap: var(--space-200);
  z-index: 2;
}
.label7,
.value7 {
  position: relative;
  display: inline-block;
}
.label7 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--single-line-body-base);
  font-size: var(--single-line-body-base-size);
  background-color: transparent;
  align-self: stretch;
  height: 22px;
  line-height: 140%;
  color: var(--text-default-default);
  text-align: left;
  min-width: 250px;
  padding: 0;
}
.value7 {
  height: 16px;
  flex: 1;
  line-height: 100%;
  max-width: 100%;
}
.input-field6,
.input6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input6 {
  align-self: stretch;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini);
  min-width: 240px;
  flex-shrink: 0;
}
.input-field6 {
  flex: 1;
  flex-direction: column;
  gap: var(--space-200);
  z-index: 1;
}
.city-input,
.input-field7 {
  box-sizing: border-box;
  max-width: 100%;
}
.city-input {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  margin-top: -11px;
}
.input-field7 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-3xl);
  gap: var(--space-200);
  min-width: 229px;
  z-index: 3;
}
.input-field7,
.input-field8,
.zip-fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field8 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-3xl);
  gap: var(--space-200);
  z-index: 1;
}
.zip-fields {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.input-field9 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-mini);
  gap: var(--space-200);
  z-index: 2;
  margin-top: -6px;
}
.address-input-fields1,
.input-field9,
.state-selection,
.zip-and-country {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.zip-and-country {
  height: 171px;
  width: 244px;
  flex-direction: column;
  min-width: 244px;
}
.address-input-fields1,
.state-selection {
  flex-direction: row;
  max-width: 100%;
}
.address-input-fields1 {
  flex: 1;
  gap: var(--gap-lgi);
}
.state-selection {
  align-self: stretch;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.label11 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  flex-shrink: 0;
}
.address-input-fields,
.input-field10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-field10 {
  gap: var(--space-200);
  z-index: 1;
}
.address-input-fields {
  gap: var(--gap-12xs);
}
.value12 {
  flex: 1;
  position: relative;
  line-height: 100%;
}
.input11 {
  align-self: stretch;
  height: 41px;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--space-300) var(--padding-mini);
  min-width: 240px;
  white-space: nowrap;
}
.confirmation,
.input-field11,
.input11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field11 {
  width: 242px;
  flex-direction: column;
  padding: 0 0 var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--space-200);
  z-index: 1;
}
.confirmation {
  align-self: stretch;
  flex-direction: row;
}
.star-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button5 {
  position: relative;
  font-size: var(--single-line-body-base-size);
  line-height: 100%;
  font-family: var(--single-line-body-base);
  color: var(--text-brand-on-brand);
  text-align: left;
  display: inline-block;
  min-width: 53px;
}
.button4 {
  cursor: pointer;
  border: 1px solid var(--background-brand-default);
  padding: var(--padding-3xs) var(--padding-8xl) var(--padding-3xs)
    var(--padding-9xl);
  background-color: var(--background-brand-default);
  border-radius: var(--radius-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
  z-index: 1;
}
.delivery-input-fields,
.order-button-container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.order-button-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-11xs);
}
.delivery-input-fields {
  width: 391px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.address-input-fields-parent,
.delivery-address,
.delivery-address-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.address-input-fields-parent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-5xl);
  margin-top: -11px;
}
.delivery-address,
.delivery-address-group {
  box-sizing: border-box;
}
.delivery-address-group {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--border-default-default);
  align-items: flex-end;
  padding: var(--padding-smi) 127px var(--padding-28xl) 76px;
  position: relative;
  z-index: 1;
}
.delivery-address {
  flex: 1;
  align-items: flex-start;
  padding: 100px 0 0;
  min-width: 534px;
}
.star-icon3 {
  height: 11.8px;
  width: 11.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 12px;
}
.button7 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.button6 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-5xs);
  gap: var(--space-200);
}
.button9 {
  position: relative;
  line-height: 12px;
  display: inline-block;
  min-width: 59px;
}
.button-group1,
.button8 {
  flex-direction: row;
  align-items: center;
}
.button8 {
  border-radius: var(--br-7xs);
  background-color: var(--background-neutral-tertiary);
  border: 0.7px solid var(--border-neutral-secondary);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: var(--padding-5xs);
  gap: var(--space-200);
  color: var(--text-default-default);
}
.button-group1 {
  width: 363.8px;
  display: none;
  justify-content: flex-start;
  gap: var(--space-400);
  max-width: 100%;
}
.order-summary-group-child {
  width: 783px;
  height: 918px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--border-default-default);
  display: none;
  max-width: 100%;
}
.order-summary {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.order-summary-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
.heading,
.subheading {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.heading {
  letter-spacing: -0.02em;
  font-weight: 600;
  white-space: pre-wrap;
}
.subheading {
  height: 18px;
  font-size: var(--font-size-mini-8);
  color: var(--text-default-secondary);
  display: flex;
  align-items: center;
}
.text-content-heading {
  width: 505px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
  max-width: 100%;
}
.image-icon {
  height: 118.3px;
  width: 118px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-width: 118px;
}
.color {
  white-space: pre-wrap;
}
.color,
.size {
  margin: 0;
}
.body-text-for-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs-8);
  line-height: 140%;
  color: var(--text-default-secondary);
}
.button13,
.text {
  align-self: stretch;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
  flex-shrink: 0;
}
.button13 {
  position: relative;
  line-height: 100%;
  white-space: nowrap;
}
.button12 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--background-neutral-tertiary);
  border: 0.7px solid var(--border-neutral-secondary);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-5xs);
  gap: var(--space-200);
  color: var(--text-default-default);
}
.body1,
.button-group2,
.card {
  display: flex;
  justify-content: flex-start;
}
.button-group2 {
  align-self: stretch;
  height: 29.6px;
  flex-direction: row;
  align-items: center;
  gap: var(--space-400);
  font-size: var(--font-size-xs-8);
  color: var(--text-neutral-default);
}
.body1,
.card {
  align-items: flex-start;
  max-width: 100%;
}
.body1 {
  flex: 1;
  flex-direction: column;
  gap: var(--space-400);
  min-width: 118px;
}
.card {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--background-default-default);
  border: 0.7px solid var(--border-default-default);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-mid) var(--padding-mid) var(--padding-base);
  gap: 17.7px 15.7px;
  min-width: 177.49px;
}
.button17 {
  position: relative;
  font-size: var(--font-size-xs-8);
  line-height: 12px;
  font-family: var(--single-line-body-base);
  color: var(--text-default-default);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-group3,
.button16 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button16 {
  cursor: pointer;
  border: 0.7px solid var(--border-neutral-secondary);
  padding: var(--padding-5xs);
  background-color: var(--background-neutral-tertiary);
  width: 76.7px;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--space-200);
}
.button-group3 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--space-400);
  font-size: var(--font-size-xs-8);
  color: var(--text-neutral-default);
}
.body2,
.card-grid-content-list,
.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.body2 {
  flex: 1;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--space-400);
  min-width: 118px;
}
.card-grid-content-list,
.cards {
  align-self: stretch;
  gap: var(--space-600);
}
.card-grid-content-list {
  border-radius: var(--br-smi) var(--br-smi) 0 0;
  background-color: var(--background-default-default);
  padding: var(--padding-28xl-3) var(--padding-28xl) 10.3px;
  box-sizing: border-box;
  gap: var(--space-1200);
  z-index: 1;
}
.button22,
.trash-2-icon,
.trash-3-icon,
.trash-4-icon {
  position: absolute;
  margin: 0 !important;
  overflow: hidden;
  z-index: 2;
}
.button22 {
  width: 76.7px;
  top: 215px;
  left: 201px;
  border-radius: var(--br-7xs);
  background-color: var(--background-neutral-tertiary);
  border: 0.7px solid var(--border-neutral-secondary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--space-200);
  font-size: var(--font-size-xs-8);
}
.trash-2-icon,
.trash-3-icon,
.trash-4-icon {
  width: 30px;
  height: 30px;
  right: 88px;
  flex-shrink: 0;
}
.trash-2-icon {
  top: 218px;
}
.trash-3-icon,
.trash-4-icon {
  bottom: 215px;
}
.trash-4-icon {
  bottom: 44px;
}
.order-items {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.order-calculations-child {
  width: 630px;
  height: 134px;
  position: relative;
  border-radius: 0 0 var(--br-smi) var(--br-smi);
  background-color: var(--background-default-default);
  display: none;
  max-width: 100%;
}
.items,
.subtotal {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.subtotal {
  flex: 1;
  line-height: 140%;
  min-width: 54px;
}
.items {
  margin-left: -33px;
  width: 112px;
  line-height: 28px;
}
.item-count,
.subtotal-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-count {
  width: 79px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
}
.subtotal-parent {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.shipping-cost {
  position: relative;
  line-height: 25px;
  display: inline-block;
  min-width: 118px;
  z-index: 2;
}
.shipping-cost-wrapper,
.subtotal-and-shipping {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shipping-cost-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-4xl);
}
.subtotal-and-shipping {
  width: 180px;
  flex-direction: column;
  gap: 6px;
}
.div,
.tax-amount {
  position: relative;
  line-height: 25px;
  display: inline-block;
  min-width: 34px;
  white-space: nowrap;
  z-index: 2;
}
.tax-amount {
  min-width: 23px;
}
.calculation-value {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-7xs);
}
.tax-and-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.calculations-container-inner,
.subtotal-and-shipping-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.subtotal-and-shipping-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.calculations-container-inner {
  width: 499px;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.divider1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--schemes-outline-variant);
  box-sizing: border-box;
  max-width: 100%;
}
.calculations-container,
.horizontalfull-width {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.horizontalfull-width {
  height: 8px;
  flex-direction: row;
  padding: 4.5px var(--padding-3xs) 2.5px;
  box-sizing: border-box;
  z-index: 2;
}
.calculations-container {
  flex-direction: column;
  gap: var(--gap-11xs);
}
.total,
.total-content {
  position: relative;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  min-width: 43px;
  z-index: 2;
}
.total-content {
  width: 35px;
  min-width: 35px;
  white-space: nowrap;
}
.final-total-container {
  width: 469px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
  max-width: 100%;
}
.order-calculations,
.order-summary-content,
.order-summary-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.order-calculations {
  align-self: stretch;
  border-radius: 0 0 var(--br-smi) var(--br-smi);
  background-color: var(--background-default-default);
  align-items: flex-end;
  padding: var(--padding-2xs) var(--padding-49xl) var(--padding-2xs)
    var(--padding-28xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
  z-index: 1;
  text-align: center;
  color: var(--color-black);
}
.order-summary-content,
.order-summary-group {
  align-items: flex-start;
}
.order-summary-content {
  align-self: stretch;
  font-size: var(--font-size-mid-7);
  color: var(--text-default-default);
}
.order-summary-group {
  width: 783px;
  border-radius: var(--br-xl);
  background-color: var(--border-default-default);
  padding: var(--padding-2xs) 74px 67px;
  box-sizing: border-box;
  gap: var(--gap-4xl);
  min-width: 783px;
  z-index: 2;
  font-size: var(--font-size-xs-8);
  color: var(--text-neutral-default);
}
.body,
.delivery-address-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.delivery-address-container {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-20xl);
}
.body {
  width: 1787px;
  justify-content: flex-end;
  padding: 0 72px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--single-line-body-base-size);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
.frame-item {
  height: 423px;
  width: 1811px;
  position: relative;
  background-color: var(--background-brand-default);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.instagram-icon {
  position: absolute;
  top: 57.4px;
  left: 0;
  width: 50.3px;
  height: 39.5px;
  overflow: hidden;
  z-index: 2;
}
.follow-us {
  width: 161px;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 2;
}
.facebook-icon,
.twitter-icon {
  align-self: stretch;
  width: 50.3px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 40px;
  z-index: 2;
}
.twitter-icon {
  z-index: 3;
}
.facebook-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.follow-us-parent,
.social-media-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media-icons {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xl);
}
.follow-us-parent {
  position: absolute;
  top: 0;
  left: 52.8px;
  width: 235.2px;
  flex-direction: column;
  gap: var(--gap-7xl-8);
}
.contact-us {
  margin: 0;
  font-size: var(--font-size-3xl-3);
  font-weight: 600;
}
.contact-us-1234567890-container {
  position: absolute;
  top: 12.5px;
  left: 208.3px;
  line-height: 140%;
  display: inline-block;
  width: 476px;
  height: 386.8px;
  z-index: 2;
  font-size: var(--font-size-lgi-8);
}
.all-copyrights-reserved,
.policy-items {
  height: 399.3px;
  width: 684.3px;
  position: relative;
  max-width: 100%;
}
.all-copyrights-reserved {
  width: 697.8px;
  height: 35.7px;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.social-media {
  width: 887px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-102xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -139px;
  font-size: var(--font-size-xl-6);
}
.information1 {
  margin: 0;
  font-weight: 600;
}
.blank-line3 {
  margin: 0;
  font-size: var(--font-size-lgi-8);
}
.information {
  align-self: stretch;
  height: 42.2px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.privacy-policy {
  flex: 1;
  position: relative;
  line-height: 28px;
  cursor: pointer;
  z-index: 1;
}
.privacy-policy-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-16xl);
}
.refund-policy1 {
  flex: 1;
  position: relative;
  line-height: 140%;
  cursor: pointer;
  z-index: 1;
}
.refund-policy-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-8xs);
}
.service {
  height: 35.7px;
  width: 99.4px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.footer-links-row,
.service-link {
  display: flex;
  align-items: flex-start;
}
.service-link {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
}
.footer-links-row {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl-7);
}
.footer-links-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 0 var(--padding-2xl);
  font-size: var(--font-size-lgi-8);
}
.information-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 32.3px;
}
.refund-policy {
  width: 313px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-7xl-9) 0 0;
  box-sizing: border-box;
  margin-left: -139px;
}
.cart-address,
.rectangle-parent,
.refund-policy {
  display: flex;
  justify-content: flex-start;
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--background-brand-default);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-4xl-7) 70px 0;
  box-sizing: border-box;
  row-gap: 20px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl-3);
  color: var(--background-default-default);
  font-family: var(--font-playfair-display);
}
.cart-address {
  width: 100%;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  gap: 34px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1650px) {
  .order-summary-group {
    flex: 1;
  }
  .delivery-address-container,
  .rectangle-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .order-summary-group {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .body,
  .rectangle-parent {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .rectangle-parent {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
  }
}
@media screen and (max-width: 900px) {
  .delivery-address1 {
    font-size: var(--font-size-13xl);
    line-height: 45px;
  }
  .input-field-parent {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .input-field8,
  .zip-and-country {
    flex: 1;
  }
  .address-input-fields1 {
    flex-wrap: wrap;
  }
  .delivery-address-group {
    padding: var(--padding-xl) var(--padding-44xl) var(--padding-12xl)
      var(--padding-19xl);
    box-sizing: border-box;
  }
  .delivery-address {
    padding-top: var(--padding-46xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .order-summary {
    font-size: var(--font-size-13xl);
    line-height: 38px;
  }
  .card-grid-content-list {
    gap: var(--space-1200);
    padding: var(--padding-12xl) var(--padding-4xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .order-calculations,
  .order-summary-group {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .order-summary-group {
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
  }
  .delivery-address-container {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .delivery-address1 {
    font-size: var(--font-size-5xl);
    line-height: 34px;
  }
  .delivery-address-group {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .delivery-address {
    padding-top: var(--padding-23xl);
    box-sizing: border-box;
  }
  .order-summary {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .subtotal-and-shipping-parent,
  .subtotal-parent {
    flex-wrap: wrap;
  }
  .order-summary-group {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .contact-us-1234567890-container,
  .follow-us {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .all-copyrights-reserved {
    font-size: var(--single-line-body-base-size);
    line-height: 23px;
  }
  .information {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .information-parent {
    gap: var(--gap-base);
  }
  .cart-address {
    gap: var(--gap-mid);
  }
}
