.header-child {
  height: 187px;
  width: 1440px;
  position: relative;
  background-color: var(--background-default-default);
  display: none;
  max-width: 100%;
}
.logo-icon5 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 408px;
  max-height: 100%;
  width: 569px;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.header-icons3 {
  position: absolute;
  top: 34px;
  left: 0;
  width: 1391px;
  height: 52px;
  z-index: 2;
}
.logo-parent {
  height: 181px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.header3 {
  margin-top: -188px;
  align-self: stretch;
  background-color: var(--background-default-default);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-mini) var(--padding-10xs)
    var(--padding-15xl);
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
}
.slider-item-icon,
.slider-item-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-item-icon1 {
  left: 1585px;
}
.img {
  align-self: stretch;
  height: 604px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.header-container {
  align-self: stretch;
  height: 789px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 185px 0 0;
  box-sizing: border-box;
  gap: var(--gap-12xs);
  max-width: 100%;
}
.heading2,
.subheading2 {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.heading2 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-family: inherit;
}
.subheading2 {
  font-size: var(--font-size-xl);
  color: var(--text-default-secondary);
}
.text-content-heading2 {
  width: 235px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
}
.image-icon15 {
  height: 160px;
  width: 160px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-width: 160px;
}
.body-text-for,
.title6 {
  align-self: stretch;
  position: relative;
}
.title6 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
}
.body-text-for {
  font-size: var(--single-line-body-base-size);
  line-height: 140%;
  font-family: var(--single-line-body-base);
  color: var(--text-default-secondary);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.text24 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
}
.star-icon28 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button55 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.button54 {
  align-self: stretch;
  border-radius: var(--radius-200);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300);
  gap: var(--space-200);
}
.button57 {
  position: relative;
  font-size: var(--single-line-body-base-size);
  line-height: 100%;
  font-family: var(--single-line-body-base);
  color: var(--text-default-default);
  text-align: left;
  display: inline-block;
  min-width: 79px;
}
.button56 {
  cursor: pointer;
  border: 1px solid var(--border-neutral-secondary);
  padding: var(--padding-3xs);
  background-color: var(--background-neutral-tertiary);
  width: 102px;
  border-radius: var(--radius-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-200);
}
.body16,
.button-group10,
.card6 {
  display: flex;
  justify-content: flex-start;
}
.button-group10 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--space-400);
  font-size: var(--single-line-body-base-size);
  color: var(--text-neutral-default);
  font-family: var(--single-line-body-base);
}
.body16,
.card6 {
  align-items: flex-start;
  max-width: 100%;
}
.body16 {
  flex: 1;
  flex-direction: column;
  gap: var(--space-400);
  min-width: 160px;
}
.card6 {
  align-self: stretch;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-3xl) var(--space-600);
  gap: 24px 22px;
  min-width: 240px;
}
.body-text-for1,
.body-text-for2 {
  align-self: stretch;
  position: relative;
  font-size: var(--single-line-body-base-size);
  line-height: 140%;
  font-family: var(--single-line-body-base);
  color: var(--text-default-secondary);
}
.body-text-for2 {
  font-size: var(--font-size-xl);
}
.card-grid-content-list2,
.cards2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cards2 {
  align-self: stretch;
  gap: var(--space-600);
  font-size: var(--font-size-5xl);
}
.card-grid-content-list2 {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--background-default-default);
  padding: var(--space-1600) var(--space-1600) var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--space-1200);
  min-width: 532px;
}
.horizontalmiddle-inset-icon {
  width: 22px;
  flex: 1;
  max-height: 100%;
  object-fit: contain;
}
.horizontalmiddle-inset-wrapper {
  height: 858px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.about-us {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.about-us-wrapper {
  width: 401px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.about-us1 {
  align-self: stretch;
  height: 589px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--border-default-default);
}
.about-us-content,
.about-us-content-wrapper,
.inner-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about-us-content {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mid);
}
.about-us-content-wrapper,
.inner-content {
  box-sizing: border-box;
}
.about-us-content-wrapper {
  width: 427px;
  flex-direction: column;
  padding: 98px 0 0;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.inner-content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-14xl);
  gap: 29px;
  font-size: var(--font-size-13xl);
  color: var(--text-default-default);
}
.new-arrivals {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.new-arrivals-wrapper {
  width: 383px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.image-icon18 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.new-arrival-product {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.text27 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-strong21 {
  font-weight: 600;
  display: inline-block;
  min-width: 22px;
  white-space: nowrap;
}
.text-small21,
.text-strong21 {
  position: relative;
  line-height: 140%;
}
.product-info-card9,
.text-small20 {
  align-items: flex-start;
  justify-content: flex-start;
}
.text-small20 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  font-size: var(--body-small-size);
  color: var(--text-default-secondary);
}
.product-info-card9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--background-default-default);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
  cursor: pointer;
}
.separator-icon1 {
  position: absolute;
  top: 281px;
  left: 195px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.product-info-card-parent {
  height: 347px;
  flex: 1;
  position: relative;
  min-width: 235px;
  max-width: 240px;
}
.icon5,
.icon6,
.icon7,
.icon8 {
  position: absolute;
  top: 281px;
  left: 194px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.icon6,
.icon7,
.icon8 {
  left: 193px;
}
.icon7,
.icon8 {
  left: 192px;
}
.icon8 {
  left: 202px;
}
.product-card-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.trendy-store {
  margin: 0;
  width: 372px;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.product-info-card14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
  cursor: pointer;
}
.icon9,
.trendy-separator-icon {
  position: absolute;
  top: 280px;
  left: 196px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.icon9 {
  left: 195px;
}
.trendy-product-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--single-line-body-base-size);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
.products,
.trendy-store-parent {
  align-self: stretch;
  flex-direction: column;
}
.trendy-store-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
.products {
  filter: drop-shadow(10px 12px 7px rgba(0, 0, 0, 0.25));
  gap: 106px;
  cursor: pointer;
  font-size: var(--single-line-body-base-size);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
.new-arrivals-content,
.new-arrivals-content-wrapper,
.products {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.new-arrivals-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl);
}
.new-arrivals-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-13xl);
  box-sizing: border-box;
}
.happy-customers,
.text-heading1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.happy-customers {
  width: 1017px;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.text-heading1 {
  letter-spacing: -0.02em;
  line-height: 29px;
}
.text-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-icon34 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-100);
}
.review-body,
.text44 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text44 {
  flex-direction: row;
  font-size: var(--single-line-body-base-size);
}
.review-body {
  flex-direction: column;
  gap: var(--space-100);
}
.avatar-icon {
  height: var(--icon-large);
  width: var(--icon-large);
  position: relative;
  border-radius: var(--radius-full);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.description15,
.title9 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.title9 {
  font-weight: 600;
}
.description15 {
  color: var(--icon-default-tertiary);
}
.info {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
  min-width: 146px;
}
.avatar-block,
.card-grid,
.info,
.review-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-block {
  align-self: stretch;
  flex-direction: row;
  gap: var(--space-300);
  font-size: var(--single-line-body-base-size);
  color: var(--text-default-secondary);
}
.card-grid,
.review-card {
  box-sizing: border-box;
  max-width: 100%;
}
.review-card {
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--space-600);
  min-width: 240px;
}
.card-grid {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-9xs) 0 0;
  gap: 48px 46px;
}
.card-grid-reviews {
  flex: 1;
  border-radius: 9px;
  background-color: var(--background-default-default);
  flex-direction: column;
  padding: var(--space-1600);
  box-sizing: border-box;
  gap: var(--space-1200);
}
.card-grid-reviews,
.card-grid-reviews-wrapper,
.customer-reviews-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card-grid-reviews-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-18xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
.customer-reviews-content {
  flex: 1;
  flex-direction: column;
  gap: 40px;
}
.customer-reviews-content-wrapper {
  width: 1307px;
  flex-direction: row;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
}
.customer-reviews-content-wrapper,
.inner-content-parent,
.main-content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.inner-content-parent {
  flex: 1;
  flex-direction: column;
  gap: 83px;
}
.main-content1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-37xl) var(--padding-7xs) 48px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
.frame-child1 {
  height: 358px;
  width: 1440px;
  position: relative;
  background-color: var(--background-brand-default);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.instagram-icon3 {
  position: absolute;
  top: 48.5px;
  left: 0;
  width: 40px;
  height: 33.5px;
  overflow: hidden;
  z-index: 2;
}
.follow-us5 {
  width: 128px;
  position: relative;
  line-height: 25.9px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.facebook-icon3,
.twitter-icon3 {
  align-self: stretch;
  width: 40px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 34px;
  z-index: 2;
}
.twitter-icon3 {
  z-index: 4;
}
.social-links1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.follow-us-group,
.social-links-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-links-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-2xl);
}
.follow-us-group {
  position: absolute;
  top: 0;
  left: 42px;
  width: 187px;
  flex-direction: column;
  gap: 22.6px;
}
.contact-us3 {
  margin: 0;
  font-size: var(--font-size-3xl-3);
  font-weight: 600;
}
.blank-line18 {
  margin: 0;
}
.contact-us-1234567890-container3 {
  position: absolute;
  top: 10.6px;
  left: 165.6px;
  line-height: 140%;
  display: inline-block;
  width: 378.5px;
  height: 327.3px;
  z-index: 3;
  font-size: var(--font-size-lgi-8);
}
.social-media3 {
  height: 337.9px;
  width: 544.1px;
  position: relative;
  max-width: 100%;
}
.all-copyrights-reserved3 {
  width: 554.9px;
  position: relative;
  line-height: 30.2px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.all-copyrights-reserved-wrapper {
  width: 705.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 102.4px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -110.5px;
  font-size: var(--font-size-xl-6);
}
.information7 {
  margin: 0;
  font-weight: 600;
}
.blank-line21 {
  margin: 0;
  font-size: var(--font-size-lgi-8);
}
.information6,
.privacy-policy3 {
  align-self: stretch;
  position: relative;
}
.information6 {
  height: 35.7px;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.privacy-policy3 {
  line-height: 28px;
  cursor: pointer;
  z-index: 1;
}
.refund-policy8,
.service6 {
  position: relative;
  line-height: 140%;
  z-index: 1;
}
.refund-policy8 {
  align-self: stretch;
  cursor: pointer;
}
.service6 {
  flex: 1;
}
.service-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-46xl) 0 var(--padding-45xl);
}
.service-container1 {
  flex: 1;
  flex-direction: column;
  gap: 10.6px;
}
.policy-list-content,
.refund-policy-container,
.service-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.refund-policy-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-10xs);
}
.policy-list-content {
  flex: 1;
  flex-direction: column;
  gap: 44.5px;
}
.policy-list-content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) 0 var(--padding-mid);
  font-size: var(--font-size-lgi-8);
}
.information-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 27.4px;
}
.information-content-wrapper {
  width: 248.9px;
  flex-direction: column;
  padding: 22.7px 0 0;
  box-sizing: border-box;
  margin-left: -110.5px;
}
.group-footer,
.home-page,
.information-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-footer {
  align-self: stretch;
  background-color: var(--background-brand-default);
  flex-direction: row;
  padding: 20.1px var(--padding-37xl) 0;
  box-sizing: border-box;
  row-gap: 20px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl-3);
  color: var(--background-default-default);
  font-family: var(--font-playfair-display);
}
.home-page {
  width: 100%;
  position: relative;
  background-color: var(--color-peachpuff);
  overflow: hidden;
  flex-direction: column;
  gap: 153px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .horizontalmiddle-inset-wrapper {
    display: none;
  }
  .about-us-content-wrapper {
    flex: 1;
  }
  .inner-content {
    flex-wrap: wrap;
  }
  .card-grid-reviews,
  .group-footer {
    padding-left: var(--space-1600);
    padding-right: var(--space-1600);
    box-sizing: border-box;
  }
  .group-footer {
    flex-wrap: wrap;
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
  }
}
@media screen and (max-width: 1125px) {
  .header-container {
    padding-top: 120px;
    box-sizing: border-box;
  }
  .card-grid-content-list2 {
    padding: var(--space-1600) var(--space-1600) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .header-container {
    padding-top: 78px;
    box-sizing: border-box;
  }
  .heading2 {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
  .card-grid-content-list2 {
    min-width: 100%;
  }
  .about-us {
    font-size: var(--font-size-13xl);
    line-height: 45px;
  }
  .about-us-content-wrapper {
    padding-top: var(--padding-45xl);
    box-sizing: border-box;
  }
  .new-arrivals,
  .trendy-store {
    font-size: var(--font-size-21xl);
    line-height: 56px;
  }
  .products {
    gap: 53px;
  }
  .happy-customers {
    font-size: var(--font-size-21xl);
    line-height: 56px;
  }
  .avatar-block {
    flex-wrap: wrap;
  }
  .card-grid {
    gap: var(--gap-4xl);
  }
  .card-grid-reviews {
    gap: var(--space-1200);
  }
  .customer-reviews-content {
    gap: var(--gap-xl);
  }
  .inner-content-parent {
    gap: var(--gap-22xl);
  }
  .main-content1 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .home-page {
    gap: 76px;
  }
}
@media screen and (max-width: 450px) {
  .heading2 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .subheading2 {
    font-size: var(--single-line-body-base-size);
    line-height: 19px;
  }
  .title6 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .body-text-for2 {
    font-size: var(--single-line-body-base-size);
    line-height: 22px;
  }
  .card-grid-content-list2 {
    gap: var(--space-1200);
    padding-top: var(--space-1600);
    box-sizing: border-box;
  }
  .about-us {
    font-size: var(--font-size-5xl);
    line-height: 34px;
  }
  .new-arrivals,
  .trendy-store {
    font-size: var(--font-size-11xl);
    line-height: 42px;
  }
  .products {
    gap: var(--gap-7xl);
  }
  .happy-customers {
    font-size: var(--font-size-11xl);
    line-height: 42px;
  }
  .text-heading1 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .rating {
    flex-wrap: wrap;
  }
  .card-grid-reviews {
    padding-top: var(--space-1600);
    padding-bottom: var(--space-1600);
    box-sizing: border-box;
  }
  .inner-content-parent {
    gap: var(--gap-2xl);
  }
  .follow-us5 {
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
  .contact-us-1234567890-container3 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .all-copyrights-reserved3 {
    font-size: var(--single-line-body-base-size);
    line-height: 23px;
  }
  .information6 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .home-page {
    gap: 38px;
  }
}
