.my-wishlist-child {
  width: 100%;
  height: 965px;
  position: absolute;
  margin: 0 !important;
  top: 189px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-icon2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 427px;
  max-height: 100%;
  width: 569px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.header-icons1 {
  position: absolute;
  top: 34px;
  left: 0;
  width: 1482px;
  height: 51.4px;
  z-index: 1;
}
.wishlist-header {
  height: 188px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.wishlist-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.arrow-back-icon {
  width: 40px;
  height: 44px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.back-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.my-wishlist1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 49px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 147px;
  z-index: 1;
}
.back-button-container-parent,
.filter-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.back-button-container-parent {
  flex: 1;
  gap: var(--gap-5xs);
}
.filter-buttons {
  width: 346px;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
  max-width: 100%;
}
.heading1,
.subheading1 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.heading1 {
  letter-spacing: -0.02em;
  font-weight: 600;
  white-space: pre-wrap;
}
.subheading1 {
  height: 18px;
  font-size: var(--font-size-mini-8);
  color: var(--text-default-secondary);
  display: flex;
  align-items: center;
}
.text-content-heading1 {
  width: 505px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
  max-width: 100%;
}
.image-icon3 {
  height: 118.3px;
  width: 118px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-width: 118px;
}
.color3 {
  white-space: pre-wrap;
}
.color3,
.size3 {
  margin: 0;
}
.body-text-for-container3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs-8);
  line-height: 140%;
  color: var(--text-default-secondary);
}
.text3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
  flex-shrink: 0;
}
.star-icon12 {
  height: 11.8px;
  width: 11.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 12px;
}
.button25 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.button24 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-5xs);
  gap: var(--space-200);
}
.button27 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  white-space: nowrap;
}
.button26 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--background-neutral-tertiary);
  border: 0.7px solid var(--border-neutral-secondary);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300) var(--padding-5xs);
  gap: var(--space-200);
  color: var(--text-default-default);
}
.body4,
.button-group5,
.card3 {
  display: flex;
  justify-content: flex-start;
}
.button-group5 {
  align-self: stretch;
  height: 29.6px;
  flex-direction: row;
  align-items: center;
  gap: var(--space-400);
  font-size: var(--font-size-xs-8);
  color: var(--text-neutral-default);
}
.body4,
.card3 {
  align-items: flex-start;
  max-width: 100%;
}
.body4 {
  flex: 1;
  flex-direction: column;
  gap: var(--space-400);
  min-width: 118px;
}
.card3 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--background-default-default);
  border: 0.7px solid var(--border-default-default);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-mid) var(--padding-mid) var(--padding-base);
  gap: 17.7px 15.7px;
  min-width: 177.49px;
}
.button31 {
  position: relative;
  font-size: var(--font-size-xs-8);
  line-height: 12px;
  font-family: var(--single-line-body-base);
  color: var(--text-default-default);
  text-align: left;
  display: inline-block;
  min-width: 59px;
}
.button-group6,
.button30 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button30 {
  cursor: pointer;
  border: 0.7px solid var(--border-neutral-secondary);
  padding: var(--padding-5xs);
  background-color: var(--background-neutral-tertiary);
  width: 76.7px;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--space-200);
}
.button-group6 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--space-400);
  font-size: var(--font-size-xs-8);
  color: var(--text-neutral-default);
}
.body5,
.card-grid-content-list1,
.cards1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.body5 {
  flex: 1;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--space-400);
  min-width: 118px;
}
.card-grid-content-list1,
.cards1 {
  align-self: stretch;
  gap: var(--space-600);
}
.card-grid-content-list1 {
  border-radius: var(--br-smi) var(--br-smi) 0 0;
  background-color: var(--background-default-default);
  padding: var(--padding-28xl-3) var(--padding-28xl) 138.3px;
  box-sizing: border-box;
  gap: var(--space-1200);
  z-index: 2;
}
.star-icon18 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 16px;
}
.button37 {
  position: relative;
  font-size: var(--single-line-body-base-size);
  line-height: 100%;
  font-family: var(--single-line-body-base);
  color: var(--text-brand-on-brand);
  text-align: left;
  display: inline-block;
  min-width: 88px;
}
.button36,
.button38,
.button40 {
  cursor: pointer;
  border: 1px solid var(--background-brand-default);
  padding: var(--padding-9xs) var(--padding-8xs);
  width: 100px;
  margin: 0 !important;
  position: absolute;
  border-radius: var(--radius-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
  z-index: 3;
}
.button36 {
  background-color: var(--text-default-default);
  top: 232px;
  right: 81px;
}
.button38,
.button40 {
  background-color: var(--background-brand-default);
  right: 76px;
  bottom: 329px;
}
.button40 {
  bottom: 157px;
}
.x-icon21 {
  top: 158px;
}
.x-icon21,
.x-icon22,
.x-icon23 {
  width: 18px;
  height: 18px;
  position: absolute;
  margin: 0 !important;
  right: 63px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.x-icon22 {
  top: 324px;
}
.x-icon23 {
  bottom: 255px;
}
.button45 {
  position: relative;
  line-height: 12px;
  display: inline-block;
  min-width: 59px;
}
.button-group8,
.button44 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button44 {
  width: 76.7px;
  border-radius: var(--br-7xs);
  background-color: var(--background-neutral-tertiary);
  border: 0.7px solid var(--border-neutral-secondary);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-5xs);
  gap: var(--space-200);
  color: var(--text-default-default);
}
.button-group8 {
  width: 525.8px;
  margin: 0 !important;
  position: absolute;
  top: 226px;
  right: 65.2px;
  gap: var(--space-400);
  max-width: 100%;
  z-index: 4;
  font-size: var(--font-size-xs-8);
  color: var(--text-neutral-default);
}
.button46 {
  position: relative;
  font-size: var(--single-line-body-base-size);
  line-height: 100%;
  font-family: var(--single-line-body-base);
  color: var(--text-utilities-text-on-overlay);
  text-align: left;
  display: inline-block;
  min-width: 107px;
}
.button-danger {
  cursor: pointer;
  border: 1px solid var(--border-danger-secondary);
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--background-danger-secondary-hover);
  width: 479px;
  margin: 0 !important;
  position: absolute;
  right: 137px;
  bottom: 63px;
  border-radius: var(--radius-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-200);
  max-width: 100%;
  z-index: 3;
}
.filter-button-list,
.wishlist-filter-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.filter-button-list {
  align-self: stretch;
  position: relative;
  text-align: left;
  font-size: var(--font-size-mid-7);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
.wishlist-filter-bar {
  flex: 1;
  gap: 44px;
  min-width: 515px;
}
.view-similar-products {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.heading-container,
.image-icon6 {
  align-self: stretch;
  max-width: 100%;
}
.heading-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xl);
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}
.image-icon6 {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.text7 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.text6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-strong1 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 22px;
  white-space: nowrap;
}
.text-strong {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-small1 {
  position: relative;
  line-height: 140%;
}
.body7,
.product-info-card,
.text-small {
  align-items: flex-start;
  justify-content: flex-start;
}
.text-small {
  align-self: stretch;
  display: none;
  flex-direction: row;
  font-size: var(--body-small-size);
  color: var(--text-default-secondary);
}
.body7,
.product-info-card {
  display: flex;
  flex-direction: column;
}
.body7 {
  align-self: stretch;
  gap: var(--space-200);
}
.product-info-card {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--background-default-default);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
  cursor: pointer;
  z-index: 1;
}
.separator-icon {
  position: absolute;
  top: 277px;
  left: 202px;
  width: 24px;
  height: 48px;
  z-index: 2;
}
.product-card-row {
  height: 347px;
  flex: 1;
  position: relative;
  min-width: 156px;
}
.icon {
  position: absolute;
  top: 277px;
  left: 199px;
  width: 24px;
  height: 48px;
  z-index: 2;
}
.similar-products-grid {
  width: 528px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xl);
  max-width: 100%;
}
.space-icon,
.spacing-element-icon {
  position: absolute;
  top: 282px;
  left: 200px;
  width: 24px;
  height: 48px;
  z-index: 2;
}
.space-icon {
  top: 275px;
  left: 199px;
}
.card-container-two {
  align-self: stretch;
  height: 347px;
  position: relative;
}
.another-product-card,
.similar-products-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.another-product-card {
  flex: 1;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 156px;
}
.similar-products-heading {
  align-self: stretch;
  gap: 31.5px;
  max-width: 100%;
}
.similar-products {
  width: 549px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
  min-width: 549px;
  text-align: left;
  font-size: var(--single-line-body-base-size);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
.main-content-area,
.similar-products,
.wishlist-item-actions {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.wishlist-item-actions {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-11xl);
  box-sizing: border-box;
  gap: 128px;
}
.main-content-area {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-7xl);
}
.content1 {
  width: 1537px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
.star-icon24 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button47 {
  position: relative;
  line-height: 100%;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.button-danger1 {
  width: 492px;
  border-radius: var(--br-3xs);
  background-color: var(--background-danger-tertiary-hover);
  border: 1px solid var(--border-danger-secondary);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--space-300);
  gap: var(--space-200);
  max-width: 100%;
  z-index: 2;
}
.button-danger1,
.button48,
.star-icon25 {
  overflow: hidden;
  display: none;
}
.star-icon25 {
  height: 11.8px;
  width: 11.8px;
  position: relative;
  flex-shrink: 0;
}
.button48 {
  width: 77px;
  border-radius: var(--br-7xs);
  background-color: var(--background-neutral-tertiary);
  border: 0.7px solid var(--border-neutral-secondary);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  gap: var(--space-200);
  z-index: 3;
  font-size: var(--font-size-xs-8);
  color: var(--text-default-default);
}
.frame-inner {
  height: 423px;
  width: 1551px;
  position: relative;
  background-color: var(--background-brand-default);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.instagram-icon1 {
  position: absolute;
  top: 57.4px;
  left: 0;
  width: 43px;
  height: 39.5px;
  overflow: hidden;
  z-index: 1;
}
.follow-us2 {
  width: 137.9px;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 1;
}
.facebook-icon1 {
  height: 39.5px;
  width: 43px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 40px;
  z-index: 1;
}
.facebook-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.follow-us1,
.social-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-icons {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-3xl);
}
.follow-us1 {
  position: absolute;
  top: 0;
  left: 45.2px;
  width: 200.9px;
  flex-direction: column;
  gap: var(--gap-7xl-8);
}
.contact-us1 {
  margin: 0;
  font-size: var(--font-size-3xl-3);
  font-weight: 600;
}
.contact-us-1234567890-container1 {
  position: absolute;
  top: 12.5px;
  left: 178.3px;
  line-height: 140%;
  display: inline-block;
  width: 407.7px;
  height: 386.8px;
  z-index: 1;
  font-size: var(--font-size-lgi-8);
}
.all-copyrights-reserved1,
.social-media1 {
  height: 399.3px;
  width: 586px;
  position: relative;
  max-width: 100%;
}
.all-copyrights-reserved1 {
  width: 597.6px;
  height: 35.7px;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.copyright {
  width: 757px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-102xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -119px;
  font-size: var(--font-size-xl-6);
}
.information3 {
  margin: 0;
  font-weight: 600;
}
.blank-line9 {
  margin: 0;
  font-size: var(--font-size-lgi-8);
}
.information2 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  z-index: 1;
}
.privacy-policy1,
.refund-policy3 {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.privacy-policy1 {
  align-self: stretch;
  line-height: 28px;
}
.refund-policy3 {
  flex: 1;
  line-height: 140%;
}
.privacy-container,
.refund-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.refund-container {
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-9xs);
}
.privacy-container {
  flex-direction: column;
  gap: 57.7px;
}
.service2 {
  height: 35.7px;
  flex: 1;
  position: relative;
  line-height: 140%;
  display: inline-block;
  z-index: 1;
}
.privacy-container-parent,
.service-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.service-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 77px 0 73px;
}
.privacy-container-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xl-7);
}
.policy-links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) 0 var(--padding-2xl);
  font-size: var(--font-size-lgi-8);
}
.information-heading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 11.5px;
}
.information-heading-wrapper {
  width: 267.4px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-7xl-9) 0 0;
  box-sizing: border-box;
  margin-left: -119px;
}
.information-heading-wrapper,
.my-wishlist,
.rectangle-group {
  display: flex;
  justify-content: flex-start;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--background-brand-default);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-4xl-7) 60px 0;
  box-sizing: border-box;
  row-gap: 20px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl-3);
  color: var(--background-default-default);
  font-family: var(--font-playfair-display);
}
.my-wishlist {
  width: 100%;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  gap: 79px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--single-line-body-base-size);
  color: var(--background-brand-default);
  font-family: var(--single-line-body-base);
}
@media screen and (max-width: 1425px) {
  .back-button-container-parent,
  .similar-products {
    flex: 1;
  }
  .wishlist-item-actions {
    flex-wrap: wrap;
    gap: var(--gap-45xl);
  }
  .rectangle-group {
    flex-wrap: wrap;
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .my-wishlist1 {
    font-size: var(--font-size-13xl);
    line-height: 45px;
  }
  .card-grid-content-list1 {
    padding: var(--padding-12xl) var(--padding-4xl) 90px;
    box-sizing: border-box;
  }
  .wishlist-filter-bar {
    min-width: 100%;
  }
  .view-similar-products {
    font-size: var(--font-size-13xl);
    line-height: 45px;
  }
  .similar-products-grid {
    flex-wrap: wrap;
  }
  .similar-products-heading {
    gap: var(--gap-base);
  }
  .similar-products {
    min-width: 100%;
  }
  .wishlist-item-actions {
    gap: var(--gap-13xl);
  }
  .my-wishlist {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 450px) {
  .my-wishlist1 {
    font-size: var(--font-size-5xl);
    line-height: 34px;
  }
  .back-button-container-parent {
    flex-wrap: wrap;
  }
  .card-grid-content-list1 {
    gap: var(--space-1200);
    padding-top: var(--padding-xl);
    padding-bottom: 58px;
    box-sizing: border-box;
  }
  .wishlist-filter-bar {
    gap: 22px;
  }
  .view-similar-products {
    font-size: var(--font-size-5xl);
    line-height: 34px;
  }
  .wishlist-item-actions {
    gap: var(--gap-base);
  }
  .contact-us-1234567890-container1,
  .follow-us2 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .all-copyrights-reserved1 {
    font-size: var(--single-line-body-base-size);
    line-height: 23px;
  }
  .information2 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .my-wishlist {
    gap: var(--gap-xl);
  }
}
