.header6 {
  align-self: stretch;
  width: 1440px;
  position: relative;
  background-color: var(--background-default-default);
  display: none;
  max-width: 100%;
}
.logo-icon8 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 413px;
  max-height: 100%;
  width: 569px;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.header-icons5 {
  position: absolute;
  top: 37px;
  left: 0;
  width: 1394px;
  height: 52px;
  z-index: 2;
}
.logo-header {
  height: 187px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.header-parent2 {
  align-self: stretch;
  background-color: var(--background-default-default);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-10xl);
  box-sizing: border-box;
  max-width: 100%;
}
.necklace1 {
  margin: 0;
  font-weight: 600;
}
.span4 {
  font-size: var(--font-size-21xl);
  font-family: var(--font-playfair-display);
  white-space: pre-wrap;
}
.treasure-the-moments2 {
  font-weight: 500;
}
.treasure-the-moments-flaunt {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.necklace-treasure-the-container {
  width: 1004px;
  height: 112px;
  position: relative;
  line-height: 140%;
  color: var(--color-black);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-31xl);
  font-family: var(--font-playfair-display);
}
.image-icon48 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.text91 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.text90 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-strong81 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 22px;
  white-space: nowrap;
}
.text-strong80 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-small81 {
  position: relative;
  line-height: 140%;
}
.body49,
.product-info-card39,
.text-small80 {
  align-items: flex-start;
  justify-content: flex-start;
}
.text-small80 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  font-size: var(--body-small-size);
  color: var(--text-default-secondary);
}
.body49,
.product-info-card39 {
  display: flex;
  flex-direction: column;
}
.body49 {
  align-self: stretch;
  gap: var(--space-200);
}
.product-info-card39 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
  cursor: pointer;
}
.icon23 {
  position: absolute;
  top: 279px;
  left: 203px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.product-info-card40 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
}
.icon24 {
  position: absolute;
  top: 279px;
  left: 200px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.card-row {
  height: 347px;
  flex: 1;
  position: relative;
  min-width: 235px;
  max-width: 240px;
}
.icon25,
.icon26,
.icon27 {
  position: absolute;
  top: 281px;
  left: 201px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.icon26,
.icon27 {
  left: 199px;
}
.icon27 {
  left: 200px;
}
.inner-categories-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.icon29,
.icon30 {
  position: absolute;
  top: 281px;
  left: 198px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.icon30 {
  top: 284px;
  left: 201px;
}
.product-info-card47 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  width: 240px;
  height: 347px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
  cursor: pointer;
}
.product-info-card-parent17 {
  height: 347px;
  flex: 1;
  position: relative;
  min-width: 240px;
  max-width: 245px;
}
.icon32 {
  position: absolute;
  top: 279px;
  left: 197px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.card-row-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-lgi);
}
.product-cards-wrapper,
.product-cards1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.product-cards1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.product-cards-wrapper {
  width: 1381px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-30xl) 46px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--single-line-body-base-size);
  color: var(--text-default-default);
  font-family: var(--single-line-body-base);
}
.small-card-row-child {
  width: 100%;
  height: 44px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 1px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-azure);
}
.shop-more-collections2 {
  margin: 0;
  width: 1130px;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frame-child5,
.small-card-row2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.small-card-row2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
}
.frame-child5 {
  flex: 1;
  border-radius: 50%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.collection-icons-inner {
  height: 326px;
  width: 353px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.earrings6 {
  margin: 0;
}
.blank-line40 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.bold-statements-for2,
.earrings5 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.earrings5 {
  width: 272px;
  height: 50px;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.bold-statements-for2 {
  z-index: 1;
}
.earrings-description,
.earrings-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.earrings-description {
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  font-size: var(--font-size-xl);
}
.earrings-title {
  flex-direction: column;
  max-width: 100%;
}
.blank-line41 {
  margin: 0;
  font-size: var(--single-line-body-base-size);
}
.bracelets-and-rings-container2 {
  height: 49px;
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}
.bracelets-and-rings-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-18xl) 0 var(--padding-25xl);
}
.for-that-golden2 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 140%;
  font-weight: 600;
  z-index: 1;
}
.bracelets-rings-title {
  width: 353px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.bracelets-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.categories-container,
.earrings-title-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.earrings-title-parent {
  align-self: stretch;
  gap: 52px;
}
.categories-container {
  flex: 1;
  padding: var(--padding-30xl) 0 0;
  box-sizing: border-box;
  min-width: 365px;
}
.collection-icons-child {
  width: 343px;
  position: relative;
  border-radius: 50%;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.collection-icons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
  max-width: 100%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-playfair-display);
}
.small-card-row-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-67xl);
  max-width: 100%;
}
.necklace-inner {
  width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-49xl) 133px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-orelega-one);
}
.frame-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-brand-default);
  width: 100%;
  height: 100%;
  display: none;
}
.contact-us6 {
  margin: 0;
  font-size: var(--font-size-3xl-3);
  font-weight: 600;
}
.contact-us-1234567890-container6 {
  height: 275.2px;
  width: 378.5px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 3;
}
.all-copyrights-reserved6 {
  align-self: stretch;
  position: relative;
  line-height: 25.4px;
  z-index: 1;
}
.all-copyrights-reserved-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-58xl-2) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -110.5px;
  font-size: var(--font-size-xl-6);
}
.blank-line45,
.contact2 {
  font-size: var(--font-size-lgi-8);
}
.contact2 {
  position: absolute;
  top: 25.8px;
  left: 221.8px;
  width: 822.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.blank-line45 {
  margin: 0;
}
.information13 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  z-index: 2;
}
.privacy-policy7,
.refund-policy16 {
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.privacy-policy7 {
  align-self: stretch;
  line-height: 28px;
}
.refund-policy16 {
  flex: 1;
  line-height: 140%;
}
.privacy-refund,
.refund-policy-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.refund-policy-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-10xs);
}
.privacy-refund {
  flex-direction: column;
  gap: var(--gap-14xl);
  flex-shrink: 0;
}
.service12 {
  flex: 1;
  position: relative;
  line-height: 140%;
  flex-shrink: 0;
  z-index: 1;
}
.service-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-52xl) 0 var(--padding-49xl);
}
.policies-container,
.policy-list2,
.service-frame {
  display: flex;
  align-items: flex-start;
}
.policy-list2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xl-7);
}
.policies-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) 0 var(--padding-mid);
  font-size: var(--font-size-lgi-8);
}
.information-group {
  position: absolute;
  top: 36px;
  left: 1084.6px;
  width: 248.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.instagram-icon6 {
  position: absolute;
  top: 57.7px;
  left: 56.2px;
  width: 40px;
  height: 28.1px;
  overflow: hidden;
  z-index: 2;
}
.follow-us9 {
  width: 128px;
  position: relative;
  line-height: 21.8px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.facebook-icon6,
.twitter-icon6 {
  align-self: stretch;
  width: 40px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 28px;
  z-index: 2;
}
.twitter-icon6 {
  z-index: 4;
}
.platforms1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.platforms-wrapper,
.social1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.platforms-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-2xl);
}
.social1 {
  position: absolute;
  top: 16.9px;
  left: 98.2px;
  width: 187px;
  flex-direction: column;
  gap: var(--gap-lgi);
}
.rectangle-parent3 {
  align-self: stretch;
  height: 301px;
  position: relative;
  background-color: var(--background-brand-default);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl-3);
  color: var(--background-default-default);
  font-family: var(--font-playfair-display);
}
.necklace {
  width: 100%;
  position: relative;
  background-color: var(--color-peachpuff);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 94px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .necklace-inner,
  .product-cards-wrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .necklace-inner {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
  }
}
@media screen and (max-width: 1050px) {
  .necklace-treasure-the-container {
    font-size: var(--font-size-7xl);
    line-height: 56px;
  }
  .product-cards-wrapper {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .shop-more-collections2 {
    font-size: var(--font-size-9xl);
    line-height: 39px;
  }
}
@media screen and (max-width: 750px) {
  .earrings-title-parent {
    gap: var(--gap-7xl);
  }
  .categories-container {
    min-width: 100%;
  }
  .small-card-row-parent {
    gap: var(--gap-24xl);
  }
  .necklace-inner {
    padding-bottom: 86px;
    box-sizing: border-box;
  }
  .necklace {
    gap: 47px;
  }
}
@media screen and (max-width: 450px) {
  .necklace-treasure-the-container {
    font-size: var(--font-size-lgi);
    line-height: 42px;
  }
  .product-cards-wrapper {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .shop-more-collections2 {
    font-size: var(--font-size-2xl);
    line-height: 29px;
  }
  .earrings5 {
    font-size: var(--font-size-lgi);
    line-height: 34px;
  }
  .bold-statements-for2 {
    font-size: var(--single-line-body-base-size);
    line-height: 22px;
  }
  .bracelets-and-rings-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .for-that-golden2 {
    font-size: var(--single-line-body-base-size);
    line-height: 22px;
  }
  .small-card-row-parent {
    gap: var(--gap-2xl);
  }
  .contact-us-1234567890-container6 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .all-copyrights-reserved6 {
    font-size: var(--single-line-body-base-size);
    line-height: 20px;
  }
  .follow-us9,
  .information13 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .follow-us9 {
    line-height: 17px;
  }
  .necklace {
    gap: var(--gap-4xl);
  }
}
